.on {
    background-color: green;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.off {
    background-color: red;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

#main {
    text-align: center;
    display: inline-block;
    background-color: brown;
    height: 100px;
}

.wrapper {
    text-align: center;
}